<!--ヘッダー部分-->
<header class="topbar">
  <div class="global-nav">
    <div class="global-nav-inner">
      <div class="container">
        <!--中心のツイッターアイコン-->
        <%= fa_icon 'twitter',
                    class: 'twitter-center-icon'
        %>
        <!-- メニューリスト(ホーム、通知など) -->
        <div class="navigation">
          <ul class="nav" style="list-style: none" id="global-actions">

            <li id="nav-home">
              <a href="#" class="nav-item active-nav">
                <span class="text">
                  <%= fa_icon 'home', left: true %>ホーム
                </span>
              </a>
            </li>

            <li id="nav-moment">
              <a href="#" class="nav-item">

               <span class="text">
                 <%= fa_icon 'bolt', left: true %>
                 モーメント
               </span>
              </a>
            </li>

            <li id="nav-notification">
              <a href="#" class="nav-item">
               <span class="text">
                 <%= fa_icon 'bell-o', left: true %>
                 通知
               </span>
              </a>
            </li>

            <li id="nav-message">
              <a href="#" class="nav-item">
                <span class="text">
                   <%= fa_icon 'envelope-o', left: true %>
                  メッセージ
                </span>

              </a>
            </li>
          </ul>
        </div>

        <!--右側の検索やプロフィール要素-->
        <div class="other-nav pull-right">
          <div class="search-bar-box">
            <label class="hide-box" for="search-query"></label>
            <input class="search-input" id="search-query" type="search" placeholder="キーワード検索">
            <input type="submit" class="search-icon" value="&#xf002;">
          </div>


          <%= fa_icon 'user-circle',
                      class: 'user-profile-circle'
          %>
          <button class="tweet-btn">ツイート</button>
        </div>
      </div>
    </div>
  </div>
</header>


<div id="page-container">

  <!-- 左のダッシュボード　プロフィールとトレンド表示-->
  <div class="left-dashboard">
    <!--プロフィール-->
    <div class="profile-card-wrapper">

      <!--上部背景-->
      <div class="profile-card-background"></div>

      <!--ユーザーアイコン-->
      <div class="profile-icon-box">
        <%= image_tag("user-profile-icon.png",
                      class: "user-profile-icon-photo") %>
      </div>

      <!--ユーザーの情報 ツイート数など-->


      <!--ユーザー名とid-->
      <div class="user-names">
        <a href="#">Kosuke</a>
        <p>@<span>kosuke100948q</span></p>
      </div>

      <!--ユーザーステータス　フォロワー数etc-->
      <div class="user-stats">

        <div class="tweet-stats">
          <p>ツイート</p>
          <a href="#">34</a>
        </div>

        <div class="follower-stats">
          <p>フォロー</p>
          <a href="#">105</a>
        </div>
      </div>

      <!--おすすめトレンド表示-->
      <div class="trends-card">
        <div class="trend-header">
          <h3>おすすめトレンド</h3>
          <small>・</small>
          <a href="#">変更する</a>
        </div>

        <div class="trend-word-wrapper">
          <div class="trend-word">
            <a href="#">#Baystars</a>
            <p>23,171件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">リヴァプール</a>
            <p>2322件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">#チャンピオンズリーグ</a>
            <p>2515件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">fortnite</a>
            <p>3546件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">誰か反応</a>
            <p>11,233件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">首相案件</a>
            <p>11,233件のツイート</p>
          </div>

          <div class="trend-word">
            <a href="#">#シグナル</a>
            <p>11,233件のツイート</p>
          </div>

        </div>


      </div>

    </div>

  </div>

<!--中心のダッシュボード ツイート送信と他人のツイートを見られる-->
  <div class="center-dashboard">
    <!---->
    <div class="tweet-bar-wrapper">
      <div class="user-icon">
        <%= fa_icon 'user-circle-o',
          class: 'tweet-box-user-icon' %>
      </div>
      <div class="tweet-box">
        <input type="text" class="tweet-input" placeholder="いまどうしてる？">
        <input type="submit" class="upload-tweet-photo" value="&#xf03e;">
      </div>
    </div>

  </div>


  <!--右のダッシュボード おすすめユーザーと規約など-->
  <div class="right-dashboard">
    <!--おすすめユーザボックスと友達のインポートー-->
    <div class="user-recommend-container">
      <!--タイトルとユーザー一覧-->
      <div class="recommended-users-container">
        <!--タイトル-->
        <div class="users-header">
          <h3>おすすめユーザー</h3>
          <small>・</small>
          <small>
            <a href="#">更新</a>
          </small>
          <small>・</small>
          <small>
            <a href="#">すべて見る</a>
          </small>
        </div>

        <!--おすすめユーザー-->
        <div class="recommended-user">
          <div class="recommended-user-profile">
            <%= fa_icon 'user-circle-o',
                        class: 'recommended-user-icon'
            %>
            <a href="#" class="recommended-user-name">糸井重里</a>
            <p class="recommended-user-id">@shigesato_itoi</p>
          </div>
          <button class="follow-btn">フォローする</button>
        </div>


        <div class="recommended-user">
          <div class="recommended-user-profile">
            <%= fa_icon 'user-circle-o',
                        class: 'recommended-user-icon'
            %>
            <a href="#" class="recommended-user-name">織田裕二</a>
            <p class="recommended-user-id">@oda_706</p>
          </div>
          <button class="follow-btn">フォローする</button>
        </div>

        <div class="recommended-user">
          <div class="recommended-user-profile">
            <%= fa_icon 'user-circle-o',
                        class: 'recommended-user-icon'
            %>
            <a href="#" class="recommended-user-name">落合陽一</a>
            <p class="recommended-user-id">@ochiai_306</p>
          </div>
          <button class="follow-btn">フォローする</button>
        </div>


      </div>
    </div>

    <div class="import-users-container">
      <div class="recommend-through-gmail">
        <div class="gmail-icon-box">
          <%= fa_icon 'envelope-o',
                      class: 'gmail-icon' %>
        </div>
        <div class="gmail-prompt-text">
          <h4>知り合いを見つけましょう</h4>
          <p>Gmailからアドレス帳をインポートする</p>
        </div>
      </div>
      <p class="recommend-through-other">
        他のアドレス帳に接続する
      </p>
    </div>

    <!--ツイッター情報と広告-->
    <div class="twitter-info-box">
      <p>2018 Twitter</p>
      <a href="#" class="twitter-info-links">Twitterについて</a>
      <a href="#" class="twitter-info-links">ヘルプセンター</a>
      <a href="#" class="twitter-info-links">規約</a>
      <a href="#" class="twitter-info-links">プライパシーポリシー</a>
      <a href="#" class="twitter-info-links">クッキー</a>
      <a href="#" class="twitter-info-links">広告について</a>
      <a href="#" class="twitter-info-links">ブランド</a>
      <a href="#" class="twitter-info-links">ブログ</a>
      <a href="#" class="twitter-info-links">ステータス</a>
      <a href="#" class="twitter-info-links">アプリ連携</a>
      <a href="#" class="twitter-info-links">採用情報</a>
      <a href="#" class="twitter-info-links">マーケティング</a>
      <a href="#" class="twitter-info-links">広告掲載法</a>
      <a href="#" class="twitter-info-links">開発者</a>
    </div>

    <div class="twitter-advertisement">
      <div class="external-link-box">
        <%= fa_icon 'external-link',
                    class: 'external-link-icon' %>
      </div>

      <a href="#" class="twitter-advertisement-link">
        Twitter広告
      </a>
    </div>

  </div>
  <!--トレンドのキーワード表示-->


</div>



